/* COMMON STYLES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.btn {
  background: #6f4e37;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.btn-secondary {
  background: #333;
}

/* TABLES */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table th {
  background: #6f4e37;
  color: white;
}

.kpis p {
  font-size: 18px;
}

/* HERO */
.hero {
  background: url("https://images.unsplash.com/photo-1511920170033-f8396924c348") center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

/* RESPONSIVE */
@media(min-width: 768px){
  input, select, button {
    width: 50%;
  }

  .hero-content h1 {
    font-size: 3rem;
  }
}
